#to-do{
    width: 350px;
    margin: auto;
}
#new-task{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    width: 350px;
}
#add-task{
    width: 370px;
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
#add-task:hover{
    background-color: pink;
    color: black;
}
.remove-btn{
    background-color: pink;
}
#task-list li{
    list-style: none;
}
#task-list button{
    border: none;
    border-radius: 1rem;
}